<% colors = ["#EDFFD9", "#03B5AA", "#FDE2FF"] %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../assets/images/kleurenpalet.jpg);">
  <div class="container">
    <h1> Cocktails are so 2008 . . . </h1>
  </div>
</div>


<div class="cards">
<% @cocktails.each do |cocktail| %>
   <div class="card-category" style="background-color: <%= colors.sample %>">
       <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %>
  </div>
<% end %>
