<% colors = ["#085f63", "#15cda8", "#247e6c"] %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../assets/images/kleurenpalet.jpg);">
  <div>
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
  </div>
</div>


<div class="cards">
<% @cocktails.each do |cocktail| %>

<% if cocktail.photo? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
       <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %>
  </div>
<% else %>
  <div class="card-category" style="background-color: <%= colors.sample %>">
       <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %>
  </div>
  <% end %>
<% end %>


