// Specific CSS for your home-page

body {
  background-color: #214E34;
}

h1 {
  color: #224E34;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container {
  background-color: #B6D094;
  text-align: center;
  padding-bottom: 15px;
}

form {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  .centertext{
    text-align: center;
  }
}

p {
  font-size: 23px;
  color: #224E34;
  font-family: "Helvetica"
}


.btn {
  background-color: #224E34;
  border: none;
  padding: 12px;
  font-weight: 400;
  font-size: 20px;
}

.btn:hover{
  background-color: #486B5E;
}

i {
  color: #224E34;
}
