// Specific CSS for your home-page

body {
  background-color: #214E34;
}

h1 {
  color: #224E34;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container {
  background-color: #B6D094;
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

.btn {
  background-color: #224E34;
  border: none;
  padding: 12px;
  font-weight: 400;
  font-size: 20px;
}
