<h1> Add Ingredients</h1>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <div class="centertext">
  <%= f.button :submit, class: "btn btn-primary mb-5"%>
  </div>
<% end %>
